<h2>Edit user</h2>

<div class="success" #success>
	<h3 *ngIf="state === 'true'">The user was edited successful</h3>
</div>

<div class="error" #error>
	<h3 *ngIf="state === 'false'">Error: none contacts or not correct id data or empty a field</h3>
</div>

<form #myForm name="myForm" (ngSubmit)="editUser(myForm, success, error)">
	<label for="id" class="idl">Id</label>
	<input name ="id" class="id" required [(ngModel)]="id" />
	<label for="name" class="onel">Name</label>
	<input name ="name" class="name" required [(ngModel)]="user.name" />
	<label for="surname" class="twol">Surname</label>
	<input name="surname" class="surname" required [(ngModel)]="user.surname"/>
	<label for="tel" class="threel">Telephone</label>
	<input name="tel" class="telephone" required [placeholder]="p" [(ngModel)]="user.telephone"/>
	<input type="submit" name="submit" class="submit" value="Edit" />
</form>